# init
wheel
# auto
auto-sklearn
tpot
# editors
jupyterlab
# features
featuretools
tsfresh
# statistics
scipy
sympy
statsmodels
# evaluation
eli5
shap
yellowbrick
# manipulation
numpy
pandas
pyjanitor
# orchestration
jupytext
papermill
# visualization
ipywidgets
matplotlib
plotly_express
# machine learning
scikit-learn
tensorflow
xgboost
